<footer class="footer">

    <nav class="footer__nav">

        <ul class="footer__nav--list--sections">
            <li><a href="https://adalab.es"> Zapatillas</a> </li>
            <li><a href="https://adalab.es"> Ropa</a> </li>
            <li><a href="https://adalab.es"> Niño/a</a> </li>
            <li><a href="https://adalab.es"> Destacados</a> </li>
            <li><a href="https://adalab.es"> Tips</a> </li>
            
        </ul>
    </nav>

    <nav class="footer__nav--list--soc">
        
        <ul class="footer__nav--list--soc">
            <li><a href="https://adalab.es"> Twitter</a> </li>
            <li><a href="https://adalab.es"> Instagram</a> </li>
            <li><a href="https://adalab.es"> Youtube</a> </li>            
        </ul>
    </nav>
    <p class="footer__copyright">©2023</p>
    <p class="footer__logo">We LOVE run </p>
</footer>
