<header class="header">

  <nav class="header__nav">
    <a href="https://adalab.es" target="_blank" class="header__nav--link"> <img src="./assets/images/ico-menu.svg" alt="Menú" title="Menú desplegable"> </a>
  </nav>

  <section class="header__hero" id="hero">
    <h1 class="header__hero--title">Hasta un 50% de descuento</h1>
    <h2 class="header__hero--subtitle"> Ya están aquí las ofertas de fin de temporada</h2>
    <div class="header__hero--linkcontainer">
      <a href="#sectionAnio" class="header__hero--linkcontainer--link"> <img src="./assets/images/ico-scroll-down.svg" alt="flecha scroll sown" title="flecha para scroll down"> </a>
    </div>
  </section>

</header>
