<main class="main">

  <secton class="main__sectionConnect">
        <p class="main__sectionConnect--subtitle">Los sentimientos nos inspiran</p>
        <h3 class="main__sectionConnect--title">Conecta Contigo</h3>
        <p>Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
        <button class="main__sectionConnect--title--btn btn-buy">Comprar</button>
    </secton>

    <secton class="main__sectionAnio" id="sectionAnio">
        <h3 class="main__sectionAnio--title">Año nuevo, movimientos nuevos</h3>

       <article class="main__sectionAnio--article">
        <h4 class="main__sectionAnio--article--title">Entrenamientos</h4>
        <p class="main__sectionAnio--article--content">Sesiones de running y entrenamientos.</p>
       </article>

       <article class="main__sectionAnio--article">
        <h4 class="main__sectionAnio--article--title">Cualquier nivel</h4>
        <p class="main__sectionAnio--article--content">Entrenamientos para cada nivel.</p>
       </article>

       <article class="main__sectionAnio--article">
        <h4 class="main__sectionAnio--article--title">Exclusividad</h4>
        <p class="main__sectionAnio--article--content">Productos para miembros premium.</p>
       </article>

       <button class="main__section--title--btn btn-start">Empezar ahora</button>
    </secton>
</main>
