.footer{
    background-color: $color-darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-main;
    padding: 2rem 0rem;
    color: $color-white;
    position: relative;

    @media all and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

        .nav-sections{
            order: 2; 
        }

        .nav-soc{
            order: 3;
        }

        &__copycontainer{
             order: 1;
             min-width: 8rem;
             text-align: justify;
             align-items: flex-start;
        }
    }

    &__linkcontainer{
        background-color: $color-white;
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:-2.75rem;
        box-shadow: 0px 5px 9px -3px rgba(0, 0, 0, 0.75);
    }

    &__nav{
        text-transform: uppercase;
        margin-top: 4rem;
        font-size: 1.6rem;
        line-height: 2.14;
        text-align: center;

        @media all and (min-width: 768px) {
            margin-bottom: 3.4rem;
            text-align: justify;
        }

        &--list--item{
            list-style: none;
        }

        & a:first-child{
            text-decoration: none;
            color:white
        }

    }

    &__copycontainer{
        text-align: center;
        font-size: 1.4rem;
        line-height: 2.14;
        margin-top: 2.5rem;
        margin-bottom: 1rem;

        @media all and (min-width: 768px) {     
            order: 1;
            min-width: 8rem;
            text-align: justify;
           
        }
        
    
        .fa-solid {
            color: $color-orange;
    
        }
        
    }

 

}
